.main-title {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    /*padding: 30px 0;*/
    background-color: #f2f2f2;
}

@media (min-width: 992px) {
    .main-title {
        padding: 10px 0 40px 0;
    }
}

.titulo{
    padding-top: 35px;
}

.padding-boton{
    padding-top: 25px;
}
