.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background: #FFFFFF;
    border: #ccc 1px solid;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}

.nombre-catalogo {
    color: gray;
    font-size: 14px;
}

