
.clear {
    clear: both
}

.nobr {
    white-space: nowrap
}

.woocommerce .col2-set, .woocommerce-page .col2-set {
    width: 100%
}

.woocommerce .col2-set:after, .woocommerce .col2-set:before, .woocommerce-page .col2-set:after, .woocommerce-page .col2-set:before {
    content: " ";
    display: table
}

.woocommerce .col2-set:after, .woocommerce-page .col2-set:after {
    clear: both
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: left;
    width: 48%
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: right;
    width: 48%
}

.woocommerce img, .woocommerce-page img {
    height: auto;
    max-width: 100%
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: left;
    width: 48%
}

.woocommerce #content div.product div.thumbnails:after, .woocommerce #content div.product div.thumbnails:before, .woocommerce div.product div.thumbnails:after, .woocommerce div.product div.thumbnails:before, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page #content div.product div.thumbnails:before, .woocommerce-page div.product div.thumbnails:after, .woocommerce-page div.product div.thumbnails:before {
    content: " ";
    display: table
}

.woocommerce #content div.product div.thumbnails:after, .woocommerce div.product div.thumbnails:after, .woocommerce-page #content div.product div.thumbnails:after, .woocommerce-page div.product div.thumbnails:after {
    clear: both
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    float: left;
    width: 30.75%;
    margin-right: 3.8%
}

.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 0
}

.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: both
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: right;
    width: 48%
}

.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    clear: both
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
    content: " ";
    display: table
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs:after {
    clear: both
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    display: inline-block
}

.woocommerce #content div.product #reviews .comment:after, .woocommerce #content div.product #reviews .comment:before, .woocommerce div.product #reviews .comment:after, .woocommerce div.product #reviews .comment:before, .woocommerce-page #content div.product #reviews .comment:after, .woocommerce-page #content div.product #reviews .comment:before, .woocommerce-page div.product #reviews .comment:after, .woocommerce-page div.product #reviews .comment:before {
    content: " ";
    display: table
}

.woocommerce #content div.product #reviews .comment:after, .woocommerce div.product #reviews .comment:after, .woocommerce-page #content div.product #reviews .comment:after, .woocommerce-page div.product #reviews .comment:after {
    clear: both
}

.woocommerce #content div.product #reviews .comment img, .woocommerce div.product #reviews .comment img, .woocommerce-page #content div.product #reviews .comment img, .woocommerce-page div.product #reviews .comment img {
    float: right;
    height: auto
}

.woocommerce #content .quantity input::-webkit-inner-spin-button, .woocommerce #content .quantity input::-webkit-outer-spin-button, .woocommerce #quantity input::-webkit-inner-spin-button, .woocommerce #quantity input::-webkit-outer-spin-button, .woocommerce-page #content .quantity input::-webkit-inner-spin-button, .woocommerce-page #content .quantity input::-webkit-outer-spin-button, .woocommerce-page #quantity input::-webkit-inner-spin-button, .woocommerce-page #quantity input::-webkit-outer-spin-button {
    display: none
}

.woocommerce .related:after, .woocommerce .related:before, .woocommerce .upsells.products:after, .woocommerce .upsells.products:before, .woocommerce-page .related:after, .woocommerce-page .related:before, .woocommerce-page .upsells.products:after, .woocommerce-page .upsells.products:before {
    content: " ";
    display: table
}

.woocommerce .related:after, .woocommerce .upsells.products:after, .woocommerce-page .related:after, .woocommerce-page .upsells.products:after {
    clear: both
}

.woocommerce .related ul, .woocommerce .related ul.products, .woocommerce .upsells.products ul, .woocommerce .upsells.products ul.products, .woocommerce-page .related ul, .woocommerce-page .related ul.products, .woocommerce-page .upsells.products ul, .woocommerce-page .upsells.products ul.products {
    float: none
}

.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
    width: 48%
}

.woocommerce .related ul li.product img, .woocommerce .related ul.products li.product img, .woocommerce .upsells.products ul li.product img, .woocommerce .upsells.products ul.products li.product img, .woocommerce-page .related ul li.product img, .woocommerce-page .related ul.products li.product img, .woocommerce-page .upsells.products ul li.product img, .woocommerce-page .upsells.products ul.products li.product img {
    width: 100%;
    height: auto
}

.woocommerce ul.products, .woocommerce-page ul.products {
    clear: both
}

.woocommerce ul.products:after, .woocommerce ul.products:before, .woocommerce-page ul.products:after, .woocommerce-page ul.products:before {
    content: " ";
    display: table
}

.woocommerce ul.products:after, .woocommerce-page ul.products:after {
    clear: both
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%
}

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
    clear: both
}

.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
    margin-right: 0
}

.woocommerce-page.columns-1 ul.products li.product, .woocommerce.columns-1 ul.products li.product {
    width: 100%;
    margin-right: 0
}

.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product {
    width: 48%
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 30.75%
}

.woocommerce-page.columns-5 ul.products li.product, .woocommerce.columns-5 ul.products li.product {
    width: 16.95%
}

.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
    width: 13.5%
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
    float: left
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: right
}

.woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce .woocommerce-pagination ul.page-numbers:before, .woocommerce-page .woocommerce-pagination ul.page-numbers:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:before {
    content: " ";
    display: table
}

.woocommerce .woocommerce-pagination ul.page-numbers:after, .woocommerce-page .woocommerce-pagination ul.page-numbers:after {
    clear: both
}

.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block
}

.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    height: auto
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
    text-align: right
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 80px
}

.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
    float: left
}

.woocommerce #content table.cart td.actions .coupon label, .woocommerce table.cart td.actions .coupon label, .woocommerce-page #content table.cart td.actions .coupon label, .woocommerce-page table.cart td.actions .coupon label {
    display: none
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%
}

.woocommerce .cart-collaterals:after, .woocommerce .cart-collaterals:before, .woocommerce-page .cart-collaterals:after, .woocommerce-page .cart-collaterals:before {
    content: " ";
    display: table
}

.woocommerce .cart-collaterals:after, .woocommerce-page .cart-collaterals:after {
    clear: both
}

.woocommerce .cart-collaterals .related, .woocommerce-page .cart-collaterals .related {
    width: 30.75%;
    float: left
}

.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left
}

.woocommerce .cart-collaterals .cross-sells ul.products, .woocommerce-page .cart-collaterals .cross-sells ul.products {
    float: none
}

.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
    width: 48%
}

.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    width: 48%;
    clear: right;
    float: right
}

.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce .cart-collaterals .shipping_calculator:before, .woocommerce-page .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:before {
    content: " ";
    display: table
}

.woocommerce .cart-collaterals .shipping_calculator:after, .woocommerce-page .cart-collaterals .shipping_calculator:after {
    clear: both
}

.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1, .woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%;
    text-align: right
}

.woocommerce ul.cart_list li:after, .woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:after, .woocommerce ul.product_list_widget li:before, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:after, .woocommerce-page ul.product_list_widget li:before {
    content: " ";
    display: table
}

.woocommerce ul.cart_list li:after, .woocommerce ul.product_list_widget li:after, .woocommerce-page ul.cart_list li:after, .woocommerce-page ul.product_list_widget li:after {
    clear: both
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    float: right;
    height: auto
}

.woocommerce form .form-row:after, .woocommerce form .form-row:before, .woocommerce-page form .form-row:after, .woocommerce-page form .form-row:before {
    content: " ";
    display: table
}

.woocommerce form .form-row:after, .woocommerce-page form .form-row:after {
    clear: both
}

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    display: block
}

.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
    display: inline
}

.woocommerce form .form-row select, .woocommerce-page form .form-row select {
    width: 100%
}

.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible
}

.woocommerce form .form-row-last, .woocommerce-page form .form-row-last {
    float: right
}

.woocommerce form .form-row-wide, .woocommerce-page form .form-row-wide {
    clear: both
}

.woocommerce #payment .form-row select, .woocommerce-page #payment .form-row select {
    width: auto
}

.woocommerce #payment .terms, .woocommerce-page #payment .terms {
    text-align: right;
    padding: 0 1em
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right
}

/*  Woocommerce Theme overrides */
.shop-sidebar {
    margin-top: 28px
}

.products .product img {
    width: 100%;
    height: auto
}

body.woocommerce-page ul.products, .woocommerce ul.products, .product_list_widget {
    padding: 20px 0 0 0;
    list-style: none;
    margin-bottom: 0;
}

body.woocommerce-page ul.products li.product, .woocommerce ul.products li.product {
    margin-bottom: 45px;
}

body.woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a img {
    box-shadow: none;
    border-radius: 2px;
    transition: all ease-in-out .1s;
    display: block;
    margin: 0 0 1em;
}

body.woocommerce-page ul.products li.product a:hover img, .woocommerce ul.products li.product a:hover img {
    box-shadow: 0 0 0 2px;
    color: #002A7F;
}

body.woocommerce-page ul.products li.product h3, .woocommerce ul.products li.product h3 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding: .5em 0;
    margin: 0;
    font-size: 1em;
}

body.woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block
}

body.woocommerce-page ul.products li.product .price del, .woocommerce ul.products li.product .price del {
    font-size: 16px;
    color: #999999;
    font-weight: normal;
}

body.woocommerce-page ul.products li.product .onsale, .woocommerce ul.products li.product .onsale {
    margin: -7px -7px 0 0;
}

body.woocommerce-page ul.products .star-rating, .woocommerce ul.products .star-rating {
    margin: 0 0 0 0;
}

body.woocommerce-page a.add_to_cart_button, .woocommerce a.add_to_cart_button {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    background: #eeeeee;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #999999;
    padding: 15px 15px;
    border-radius: 2px;
    transition: all 200ms ease-out;
    margin-bottom: 0;
}

body.woocommerce-page a.add_to_cart_button:hover, .woocommerce a.add_to_cart_button:hover {
    background: #f7c51e;
    color: #333333;
    box-shadow: none;
}

body.woocommerce-page .woocommerce-ordering, .woocommerce .woocommerce-ordering {
    margin: 0 0 20px 0;
}

body.woocommerce-page .woocommerce-ordering .orderby, .woocommerce .woocommerce-ordering .orderby {
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 10px;
}

body.woocommerce-page span.onsale, .woocommerce span.onsale {
    background: #f7c51e;
    text-shadow: none;
    box-shadow: none;
    height: 40px;
    width: 40px;
    color: #333333;
}

body.woocommerce-page .wc-forward:after, .woocommerce .wc-forward:after {
    content: " \f0da";
    font-family: "FontAwesome";
}

body.woocommerce-page .star-rating, .woocommerce .star-rating {
    color: #f7c51e;
}

body.woocommerce-page .star-rating:before, .woocommerce .star-rating:before {
    content: "\53\53\53\53\53";
    color: #eeeeee;
}

body.woocommerce-page { /* Tag Cloud Widget */
}

body.woocommerce-page a.button, body.woocommerce-page input.button, body.woocommerce-page input.button.alt, body.woocommerce-page button.button {
    display: inline-block;
    background: #eeeeee;
    border: none;
    box-shadow: none;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 15px 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #999999;
    text-shadow: none;
    transition: all 200ms ease-out;
}

body.woocommerce-page a.button:hover, body.woocommerce-page input.button:hover, body.woocommerce-page input.button.alt:hover, body.woocommerce-page button.button:hover {
    background: #f7c51e;
    color: #333333;
    text-shadow: none;
}

body.woocommerce-page a.button:active, body.woocommerce-page input.button:active, body.woocommerce-page input.button.alt:active, body.woocommerce-page button.button:active {
    top: 0;
}

body.woocommerce-page .woocommerce-product-rating {
    line-height: 1;
    margin-bottom: 20px;
}

body.woocommerce-page .woocommerce-product-rating .star-rating {
    margin-top: 0;
    margin-right: 15px;
}

body.woocommerce-page .woocommerce-result-count {
    font-size: 16px;
    margin: 18px 0 20px 0;
}

body.woocommerce-page nav.woocommerce-pagination {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

body.woocommerce-page nav.woocommerce-pagination ul {
    border: none;
}

body.woocommerce-page nav.woocommerce-pagination ul li {
    border: none;
    background-color: #f2f2f2;
    margin: 0 2px;
    border-radius: 2px;
}

body.woocommerce-page nav.woocommerce-pagination ul li .page-numbers {
    width: 45px;
    padding: 15px 0 16px 0;
}

body.woocommerce-page nav.woocommerce-pagination ul li a {
    color: #999999;
    transition: all 200ms ease-out;
}

body.woocommerce-page nav.woocommerce-pagination ul li a:hover {
    background-color: #f7c51e;
    color: #333333;
}

body.woocommerce-page nav.woocommerce-pagination ul li span.current {
    background-color: #f7c51e;
    color: #333333;
}

body.woocommerce-page nav.woocommerce-pagination ul li .prev, body.woocommerce-page nav.woocommerce-pagination ul li .next {
    color: #f2f2f2;
}

body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover {
    color: #f7c51e;
}

body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover::before, body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover::after, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover::before, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover::after {
    color: #333333;
}

body.woocommerce-page nav.woocommerce-pagination ul li .prev {
    position: relative;
}

body.woocommerce-page nav.woocommerce-pagination ul li .prev::before {
    transition: all 200ms ease-out;
    position: absolute;
    content: "\f0d9";
    left: calc(50% - 3px);
    top: calc(50% - 6px);
    color: #999999;
    font-family: "FontAwesome";
}

body.woocommerce-page nav.woocommerce-pagination ul li .next {
    position: relative;
}

body.woocommerce-page nav.woocommerce-pagination ul li .next::after {
    transition: all 200ms ease-out;
    position: absolute;
    content: "\f0da";
    left: calc(50% - 3px);
    top: calc(50% - 6px);
    color: #999999;
    font-family: "FontAwesome";
}

body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    background: #333333;
    box-shadow: none;
    border: none;
}

body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    top: -3px;
}

body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -12px;
}

body.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #eeeeee;
    margin: 20px 0;
}

body.woocommerce-page .widget_price_filter .price_slider_wrapper .price_label {
    font-size: 16px;
    line-height: 44px;
}

body.woocommerce-page .widget_product_categories ul {
    list-style: none;
    padding: 0;
}

body.woocommerce-page .widget_product_categories ul > li {
    margin: 2px 0;
}

body.woocommerce-page .widget_product_categories ul > li > a {
    font-size: 13px;
    transition: all 200ms ease-out;
    display: block;
    background: #eeeeee;
    color: #999999;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    border-radius: 2px;
    padding: 18px 20px;
    text-transform: uppercase;
}

body.woocommerce-page .widget_product_categories ul > li > a:hover {
    background: #f7c51e;
    color: #333333;
    text-decoration: none;
}

body.woocommerce-page .widget_product_categories ul > li > a:active {
    background: #e4b108;
    border-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
    color: #333333;
}

body.woocommerce-page .widget_product_categories ul > li.current-menu-item a {
    background: #f3bd09;
    color: #333333;
    text-decoration: none;
}

body.woocommerce-page .widget_product_categories ul > li:first-of-type {
    margin-top: 0;
}

body.woocommerce-page .widget_product_categories ul .cat-parent a {
    margin: 2px 0;
}

body.woocommerce-page .widget_product_categories ul .cat-parent a:first-of-type {
    margin-top: 0;
}

body.woocommerce-page .widget_product_categories .children a {
    padding-left: 30px;
}

body.woocommerce-page .widget_product_categories .children .children a {
    padding-left: 40px;
}

body.woocommerce-page .widget_product_categories .children .children .children a {
    padding-left: 50px;
}

body.woocommerce-page .widget_product_categories .children .children .children .children a {
    padding-left: 60px;
}

body.woocommerce-page .widget_product_categories .children .children .children .children .children a {
    padding-left: 70px;
}

body.woocommerce-page ul.product_list_widget a {
    color: #333333;
}

body.woocommerce-page ul.product_list_widget li img {
    box-shadow: none;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

body.woocommerce-page .widget_product_search .screen-reader-text {
    display: none;
}

body.woocommerce-page .widget_product_search #s {
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    padding: 6px 5px 6px 10px;
    font-weight: normal;
    height: 40px;
    border-radius: 2px;
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    body.woocommerce-page .widget_product_search #s {
        float: left;
        width: 70%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }
}

body.woocommerce-page .widget_product_search #s:focus {
    background: #ffffff;
}

body.woocommerce-page .widget_product_search #searchsubmit {
    width: 100%;
    height: 40px;
    background: #002A7F;
    border: 0;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 2px;
    transition: all 200ms ease-out;
}

@media (min-width: 992px) {
    body.woocommerce-page .widget_product_search #searchsubmit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 30%;
    }
}

body.woocommerce-page .widget_product_search #searchsubmit:hover, body.woocommerce-page .widget_product_search #searchsubmit:focus {
    background: #eeb908;
    outline: none;
}

body.woocommerce-page .tagcloud a {
    display: inline-block;
    background: #f7c51e;
    padding: 5px 8px;
    margin: 2px 0;
    border-radius: 2px;
    color: #666666;
    transition: all 200ms ease-out;
}

body.woocommerce-page .tagcloud a:hover {
    background: #eeb908;
    color: #333333;
}

body.woocommerce-page div.product div.images img {
    box-shadow: none;
    border-radius: 2px;
}

body.woocommerce-page div.product div.images div.thumbnails {
    padding-top: 0;
}

body.woocommerce-page div.product p.price {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body.woocommerce-page div.product p.price ins {
    text-decoration: none;
}

body.woocommerce-page div.product p.price del {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body.woocommerce-page div.product form.cart div.quantity {
    margin-right: 0;
    float: left
}

body.woocommerce-page div.product form.cart .button.single_add_to_cart_button {
    width: 75%;
    margin-left: 6%;
    margin-right: 0;
    padding: 11px 15px
}

body.woocommerce-page div.product form.cart .variations {
    width: 100%;
}

body.woocommerce-page div.product form.cart .variations td.label {
    width: 20%;
    padding-right: 0;
    color: #333333;
    padding-top: 10px;
}

body.woocommerce-page div.product form.cart .variations .value {
    width: 75%;
    padding-left: 5%;
}

body.woocommerce-page div.product form.cart .variations select {
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 2px;
    background-color: #ffffff;
    padding: 10px;
}

body.woocommerce-page div.product form.cart .variations .reset_variations {
    display: inline-block;
}

body.woocommerce-page div.product form.cart .single_variation .price {
    color: #333333;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body.woocommerce-page div.product form.cart .single_variation .price del {
    color: #999999;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body.woocommerce-page div.product form.cart .single_variation .price ins {
    text-decoration: none;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs {
    background-color: #eeeeee;
    border-radius: 2px;
    padding: 0;
    margin-bottom: 0;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs::before {
    display: none;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0;
    background: #eeeeee;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #ffffff;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li::after, body.woocommerce-page div.product .woocommerce-tabs ul.tabs li::before {
    display: none;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
    text-shadow: none;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #999999;
    padding: 17px 15px;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover a {
    color: #333333;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    background-color: #f7c51e;
    border: 1px solid transparent;
}

body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
    color: #333333;
}

body.woocommerce-page div.product .woocommerce-tabs h2 {
    font-size: 18px;
}

body.woocommerce-page div.product .woocommerce-tabs .commentlist {
    padding-left: 0;
}

body.woocommerce-page #reviews #comments {
    width: 100%;
}

body.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    border: 1px solid #eeeeee;
}

body.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta {
    color: #666666;
}

body.woocommerce-page #reviews .comment-reply-title {
    font-size: 18px;
    margin-top: 15px;
}

body.woocommerce-page #reviews label {
    font-weight: normal;
}

body.woocommerce-page .woocommerce-error, body.woocommerce-page .woocommerce-info, body.woocommerce-page .woocommerce-message {
    border-top: 0;
    background: #f7c51e;
    text-shadow: none;
    padding: 6px 6px 6px 60px !important;
    color: #333333;
    line-height: 44px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    box-shadow: none;
}

body.woocommerce-page .woocommerce-error .showlogin, body.woocommerce-page .woocommerce-error .showcoupon, body.woocommerce-page .woocommerce-info .showlogin, body.woocommerce-page .woocommerce-info .showcoupon, body.woocommerce-page .woocommerce-message .showlogin, body.woocommerce-page .woocommerce-message .showcoupon {
    color: #333333;
    text-decoration: underline;
}

body.woocommerce-page .woocommerce-error .showlogin:hover, body.woocommerce-page .woocommerce-error .showcoupon:hover, body.woocommerce-page .woocommerce-info .showlogin:hover, body.woocommerce-page .woocommerce-info .showcoupon:hover, body.woocommerce-page .woocommerce-message .showlogin:hover, body.woocommerce-page .woocommerce-message .showcoupon:hover {
    color: #000000;
}

body.woocommerce-page .woocommerce-error a.button, body.woocommerce-page .woocommerce-info a.button, body.woocommerce-page .woocommerce-message a.button {
    margin-right: 0;
    margin-bottom: 0;
}

body.woocommerce-page .woocommerce-error::before, body.woocommerce-page .woocommerce-info::before, body.woocommerce-page .woocommerce-message::before {
    background-color: transparent;
    color: #333333;
    font-size: 18px;
    font-family: "FontAwesome";
    padding-top: 0;
    box-shadow: none;
    top: calc(50% - 12px);
}

body.woocommerce-page .woocommerce-error .wc-forward:after, body.woocommerce-page .woocommerce-info .wc-forward:after, body.woocommerce-page .woocommerce-message .wc-forward:after {
    display: none;
}

body.woocommerce-page .woocommerce-message::before {
    content: "\f00c";
}

body.woocommerce-page .woocommerce-info::before {
    content: "\f129";
}

body.woocommerce-page .woocommerce-error::before {
    content: "\f00d";
}

body.woocommerce-page .short-description {
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

body.woocommerce-page .short-description::before {
    position: absolute;
    content: "";
    background-color: #002A7F;
    height: 3px;
    width: 30px;
    top: -3px;
    left: 0;
}

body.woocommerce-page .short-description p {
    margin-bottom: 0;
    color: #000000;
}

body.woocommerce-page #review_form #respond input, body.woocommerce-page #review_form #respond textarea {
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    padding: 8px;
    border-radius: 2px;
}

body.woocommerce-page #review_form #respond input:focus, body.woocommerce-page #review_form #respond textarea:focus {
    background-color: #ffffff;
    outline: 0;
}

body.woocommerce-page #review_form #respond input#submit {
    display: inline-block;
    background: #f7c51e;
    color: #333333;
    border: none;
    box-shadow: none;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 15px 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-shadow: none;
    transition: all 200ms ease-out;
}

body.woocommerce-page #review_form #respond input#submit:hover {
    background: #eeb908;
    text-shadow: none;
}

body.woocommerce-page #review_form #respond input#submit:active {
    top: 0;
    outline: 0;
}

body.woocommerce-page #review_form #respond input#submit:focus {
    outline: 0;
}

body.woocommerce-page #review_form #respond .comment-reply-title {
    margin-bottom: 10px;
}

body.woocommerce-page .upsells.products h2, body.woocommerce-page .related h2 {
    font-size: 18px;
}

body.woocommerce-page .upsells.products ul.products li.product, body.woocommerce-page .related ul.products li.product {
    width: 22.05%;
}

body.woocommerce-page p.stars a {
    color: #f7c51e;
}

body.woocommerce-page .entry-summary .entry-title {
    font-size: 30px;
    margin-bottom: 5px;
}

body.woocommerce-page .quantity {
    width: 19%;
    border-radius: 2px;
}

body.woocommerce-page .quantity input.qty {
    width: 100%;
    height: 44px;
    border-color: #dddddd;
    border-size: 2px;
    color: #999999;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body.woocommerce-page .quantity .minus, body.woocommerce-page .quantity .plus {
    height: 22px;
    box-shadow: none;
    background: transparent;
    border-color: #dddddd;
    color: #999999;
    text-shadow: none;
}

body.woocommerce-page .quantity .minus:hover, body.woocommerce-page .quantity .plus:hover {
    color: #333333;
    background: #f7c51e;
}

body.woocommerce-page button.button.alt {
    background: #f7c51e;
    text-shadow: none;
    outline: none;
    border-radius: 2px;
    color: #333333;
}

body.woocommerce-page button.button.alt:hover {
    background: #eeb908;
    color: #333333;
    text-shadow: none;
}

body.woocommerce-page table.cart th {
    color: #333333;
    text-transform: uppercase;
    padding: 15px 12px;
}

body.woocommerce-page table.cart .product-remove {
    padding: 8px;
    width: 30px;
}

body.woocommerce-page table.cart .product-remove a.remove {
    color: #333333;
    background-color: #eeeeee;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

body.woocommerce-page table.cart .product-remove a.remove:hover {
    background-color: #333333;
    color: #eeeeee;
}

.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red !important;
    text-decoration: none;
    font-weight: 700;
    border: 0;
}

body.woocommerce-page table.shop_table .product-remove a.remove {
    color: #333 !important;
    background-color: #eee;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

body.woocommerce-page table.shop_table .product-remove a.remove:hover {
    color: #fff !Important
}

body.woocommerce-page table.cart .product-thumbnail {
    padding-left: 0;
    border-radius: 2px;
}

body.woocommerce-page table.cart .product-thumbnail .attachment-shop_thumbnail {
    margin-bottom: 0;
}

body.woocommerce-page table.cart .product-name a {
    color: #999999;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

body.woocommerce-page table.cart .product-price {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

body.woocommerce-page table.cart .product-quantity .quantity {
    width: 60px;
    margin: 0;
}

body.woocommerce-page table.cart .product-quantity .quantity input.qty {
    height: 30px;
    font-size: 12px;
}

body.woocommerce-page table.cart .product-quantity .quantity .minus, body.woocommerce-page table.cart .product-quantity .quantity .plus {
    height: 15px;
}

body.woocommerce-page table.cart .product-subtotal .amount {
    font-weight: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
}

body.woocommerce-page table.cart td.actions .coupon .input-text {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: none;
    width: 100px;
    height: 28px;
    padding-left: 4px;
    margin-right: 12px;
}

body.woocommerce-page table.cart td.actions .coupon .input-text:focus {
    background-color: #ffffff;
}

body.woocommerce-page table.cart td.actions input.button {
    height: 30px;
    font-size: 12px;
    padding: 10px 15px;
}

body.woocommerce-page table.cart td.actions input.button.alt {
    margin: 0 0 0 6px;
    background: #f7c51e;
    color: #333333;
}

body.woocommerce-page table.cart td.actions input.button.alt:hover {
    background: #eeb908;
}

body.woocommerce-page .cart-collaterals .cart_totals h2 {
    font-size: 18px;
    text-align: left;
    margin-top: 18px;
}

body.woocommerce-page .cart-collaterals .cart_totals table {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    width: 100%;
}

body.woocommerce-page .cart-collaterals .cart_totals table tr th, body.woocommerce-page .cart-collaterals .cart_totals table tr td {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 15px;
}

body.woocommerce-page .cart-collaterals .cart_totals table tr th {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 45%;
    color: #333333;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

body.woocommerce-page .cart-collaterals .cart_totals table tr td {
    background-color: #eeeeee;
    text-align: left;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
    vertical-align: middle;
}

body.woocommerce-page .cart-collaterals .cart_totals table tr td strong .amount {
    color: #333333;
}

body.woocommerce-page .cart-collaterals .shipping_calculator h2 .shipping-calculator-button {
    font-size: 18px;
    color: #333333;
}

body.woocommerce-page .cart-collaterals .shipping_calculator h2 .shipping-calculator-button::after {
    content: "\f0d7";
    font-family: "FontAwesome";
}

body.woocommerce-page form .form-row textarea, body.woocommerce-page form .form-row select, body.woocommerce-page form .form-row input.input-text {
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 1px solid #dddddd;
    box-shadow: none;
    width: 100%;
    padding: 10px;
}

body.woocommerce-page form .form-row textarea:focus, body.woocommerce-page form .form-row input.input-text:focus {
    background-color: #ffffff;
}

body.woocommerce-page form .form-row .chosen-container-single .chosen-single {
    background: #eeeeee;
    border: 1px solid #dddddd;
    box-shadow: none;
    height: 40px;
    vertical-align: middle;
    border-radius: 2px;
    padding: 5px 10px;
    color: #999999;
}

body.woocommerce-page .cross-sells h2 {
    font-size: 18px;
}

body.woocommerce-page #customer_details .checkbox {
    display: inline-block;
    margin: 0 20px 0 0;
}

body.woocommerce-page form.checkout_coupon {
    padding-bottom: 6px;
}

body.woocommerce-page #payment {
    background: #eeeeee;
    border-radius: 2px;
    padding: 0 10px;
    border: 1px solid #dddddd;
    color: #333333;
}

body.woocommerce-page #payment #place_order {
    background-color: #f7c51e;
    color: #333333;
}

body.woocommerce-page #payment #place_order:hover {
    background-color: #eeb908;
}

body.woocommerce-page #payment ul.payment_methods {
    border-bottom: 1px solid #dddddd;
}

body.woocommerce-page #payment ul.payment_methods li input {
    margin-right: 5px;
    vertical-align: middle;
}

body.woocommerce-page #payment div.form-row {
    border-top: 0;
}

body.woocommerce-page #payment div.payment_box {
    background: #eeeeee;
    border: 1px solid #dddddd;
    box-shadow: none;
    border-radius: 2px;
}

body.woocommerce-page #payment div.payment_box:after {
    border-bottom-color: #dddddd;
}

body.woocommerce-page table.shop_table th {
    color: #333333;
}

body.woocommerce-page table.shop_table tfoot td {
    color: #333333;
}

body.woocommerce-page a.button.added:before {
    top: 12px;
    right: -22px;
}

body.woocommerce-page td.product-name dl.variation dd {
    margin-bottom: 0;
}

body.woocommerce-shop-page .sidebar:first-of-type {
    margin-top: 28px;
}

.product a:hover {
    text-decoration: none
}

.rating span {
    color: #f7c51e
}

.product_list_widget li {
    margin-bottom: 10px
}

.woocommerce table.shop_table {
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px
}

.woocommerce table.shop_table th {
    font-weight: 700;
    padding: 9px 12px
}

.woocommerce table.shop_table td {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 6px 12px;
    vertical-align: middle
}

.woocommerce table.shop_table td small {
    font-weight: 400
}

.woocommerce table.shop_table tbody:first-child tr:first-child td,
.woocommerce table.shop_table tbody:first-child tr:first-child th {
    border-top: 0
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
    font-weight: 700;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

body.woocommerce-page .quantity .qty {
    width: 100%;
    height: 44px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #999;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    padding: 0 0 0 10px;
}

body.woocommerce-page table.shop_table td.actions input.button {
    height: 30px;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 15px;
}

.wc-proceed-to-checkout a.checkout-button {
    background-color: #f7c51e !Important;
    color: #333 !Important;
    text-align: center;
    width: 100%;
    margin-top: 20px
}

.entry-summary .woocommerce-product-rating > .rating {
    float: left;
    margin: 0 4px 0 0
}

.woocommerce-review-link {
    margin-left: 10px
}
